@font-face {
  font-family: SarasaMono;
  font-style: normal;
  font-weight: normal;
  font-display: block;
  src: url("webfont/SarasaMonoSC-Regular.woff2") format("WOFF2");
}

@font-face {
  font-family: JetBrains;
  font-style: normal;
  font-weight: normal;
  font-display: block;
  src: url("webfont/JetBrainsMono-Regular.woff2") format("WOFF2");
}
